<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Page title -->
	<title>dhiyo</title>
	<!-- Page description -->
	<meta name="description" content="A professional HTML landing page for your mobile application. Developed by Vlad Sargu at VSArt.">
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- End of Meta -->
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/common/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/img/common/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/common/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/common/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/common/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/common/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/common/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/common/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/common/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="assets/img/common/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/img/common/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="assets/img/common/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="assets/img/common/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/img/common/favicon/manifest.json">
	<link rel="shortcut icon" href="assets/img/common/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="assets/img/common/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="assets/img/common/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- End of Favicon -->
	<!-- StyleSheets -->
	<link rel="stylesheet" href="dist/style.css">
	<!-- End of StyleSheets -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body class="js-preload-me ">
	<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<!-- Preloader -->
	
		<!-- Section -->
		<section class="section section--grey " id='video'>
			<div class="container">
				<div class="row">
					<div class="col-md-24">
						<!-- Section Title -->
						<p class="section-subtitle section-subtitle--center "> #explainer_video </p>
						<h2 class="section-title section-title--center ">Unbox our product, <br>Unravel what we do </h2>
						
						<!-- End of Section Title -->
						<!-- Section Subtitle -->
						<!-- End of Section Subtitle -->
					</div>
				</div>
			</div>
			<!-- Video -->
			<div class="video">
				<a href="https://www.youtube.com/watch?v=knmDArtrsoY" class="video__holder js-video">
					<img src="thumbnail.png" class="video__primary" alt="Primary Video Thumbnail">
					<!-- <img src="http://placehold.it/1021x670" class="video__secondary video__secondary--left" alt="Secondary Video Thumbnail">
					<img src="http://placehold.it/1021x670" class="video__secondary video__secondary--right" alt="Secondary Video Thumbnail"> -->
					<span class="video__button"></span>
				</a>
			</div>
			<!-- End of Video -->
		</section>
		<!-- End of Section -->
		
	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="dist/script.js"></script>
	<!-- End of Scripts -->
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<!-- 
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
-->
	<!-- End of Analytics -->
</body>

</html>